body{
    height: auto;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to bottom, rgb(2, 83, 15), rgba(210, 205, 175, 0.644));
    text-align: center;
    color: rgba(67, 67, 67, 0.67);
    /*overflow: hidden;
    /*YOU SCROLL YOU DIE*/
}

.container{
    margin:0 auto;
    padding: 50px 20px;
    max-width: 500px;
    background-color: rgba(237, 210, 168, 0.719);
    text-align: center;
    margin: 30px auto;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(67, 67, 67, 0.67);
}

.avatar{
    width: 300px;
    height: 250px;
    border-radius: 25px;
    object-fit: cover;
    margin-bottom: 10px;
    opacity: 0.67;
    transition: opacity 0.5s ease, transform 0.5s ease-in-out;
}

.avatar:hover{
    opacity: 1;
    transform: scale(1.1);
}

h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(14, 34, 1);
    transition: color 0.5 ease;
}

h1:hover{
    color: rgb(136, 139, 46);
    letter-spacing: 1px;
}

.description{
    font-size: 20px;
    margin-bottom: 20px;
}

.links .btn{
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 12px;
    background-color: rgba(18, 98, 28, 0.621);
    color: black;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 2px 4px 6px rgba(128, 215, 91, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

.links .btn:hover{
    transform: translateY(-5px);
    box-shadow: 2px 4px 6px rgba(170, 250, 136, 0.5);
    color: rgb(255, 255, 255);
}

.footer{
    padding-top: 20px;
    animation: footer 2s infinite;
}

@keyframes footer{
    2%, 100%{opacity: 1;}
    50%{opacity: 0;}
}