body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background: rgba(196, 225, 255, 0.9999999999999999999999);
    text-align: center;
}

nav {
    background: rgb(125, 130, 24);
    width: 100%;
    height: 60px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.logo {
    text-decoration: none;
    font-size: 30px;
    color: cadetblue;
    font-weight: 500
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    text-decoration: none;
    color: rgb(124, 42, 42);
    font-size: 15px;
    padding: 10px;
    display: inline-block;
    text-align: center;
    min-width: 100px;
}

.nav-links li:hover {
    background: azure;
    border-radius: 5px;
}

.container {
    width: 80%;
    margin: auto;
    background-color: blanchedalmond;
    padding: 80px 20px 20px;
}

header {
    padding: 15px;
    background: rgb(121, 232, 212);
    color: rgb(58, 148, 231);
    border-radius: 20px;
    margin-top: 10px;
    font-size: 25px;
    letter-spacing: 5px;
}

.profile {
    margin-top: 40px;
}

.profile img {
    width: 300px;
    border-radius: 50%;
}

.sosmed a {
    margin: 0 8px;
    display: inline-block;
}

.sosmed img {
    width: 30px;
}

.data table {
    width: 50%;
    margin: auto;
    border-collapse: collapse;
}

.data th,
.data td {
    border: 2px solid rgb(67, 67, 67);
    padding: 9px;
    text-align: left;
}

.data table .center {
    text-align: center;
    font-size: 20px;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.gallery img {
    width: 200px;
    height: 130px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.25s ease-in-out
}

.gallery img:hover {
    transform: scale(1.1);
    opacity: 100%;
}

footer {
    margin-top: 20px;
    background-color: rgb(59, 120, 94);
    padding: 5px;
    color: rgb(153, 104, 104);
    border-radius: 10px;
    font-weight: 700;
    font-size: 12px;
}